* {
  color: white;
  font-weight: bolder;
}

body {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

/* .container {
  display: flex;
  flex-direction: column;
} */

/* .page-content {
  width: 100%;
  background-color: aqua;
} */

.header {
  margin-bottom: 10px;
  padding: 10px;
  background-color: blue;
}

.footer {
  margin-top: 5px;
  padding: 10px;
  background-color: grey;
}

.hero {
  padding: 10px;
  margin: 5px 0;
  background-color: red;
}

.content {
  margin: 5px 0;
  padding: 10px;
  position: relative;
  left: 0;
  background-color: green;
}

.sidebar {
  margin: 5px 0;
  padding: 10px;
  position: relative;
  right: 0;
  background-color: purple;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 70%;
    margin-right: 10px;
  }

  .sidebar {
    width: 30%;
  }

  .page-content {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    width: 70%;
  }

  .sidebar {
    width: 30%;
  }

  .container {
    padding: 0 15px;
  }
}
